name: Build and Scan

on:
  push:
    branches:
    - main
  workflow_dispatch:


jobs:
  Build-and-Scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Docker Build
      shell: bash
      run: |
        docker build -f "$GITHUB_WORKSPACE/Dockerfile" -t app:latest .

    - name: Install Trivy
      shell: bash
      run: |
        sudo apt-get update -y
        sudo apt-get install -y wget apt-transport-https gnupg lsb-release
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
        echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/trivy.list
        sudo apt-get update -y
        sudo apt-get install -y trivy

    - name: Run Trivy scan
      shell: bash
      run: |
        trivy image \
          --exit-code 0 \
          --ignore-unfixed \
          --vuln-type os,library \
          --severity CRITICAL,HIGH \
          --format table \
          app:latest
